.mySwiper1 {
    .cardOverlay {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        background: #000000;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.792) 1%, rgba(255, 255, 255, 0) 100%);
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #444;
        border-radius: 0.5rem;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.4s ease-in-out !important;
    }

    #cardTextOverlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 2rem;
        transform: translateY(100%);
        /* Initially hide the overlay */
        transition: transform 0.4s ease-in-out;
        /* Smooth transition */
    }

    #cardShortText {
        transition: 0.4s;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    @media (max-width: 490px) {

        .swiper-button-next,
        .swiper-button-prev {
            display: none !important;
        }
    }


    @media (min-width: 768px) {
        .swiper-slide:hover #cardTextOverlay {
            transform: translateY(0%);
            /* Slide the overlay up */
        }

        .swiper-slide:hover #cardShortText {
            transform: translateY(100%)
                /* Slide the text down */
        }

    }

}