@import "tailwindcss";

body {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
  font-family: 'Montserrat', sans-serif;
}

:root {
    --xuduColor: #16706F;
}
.xuduText {
    color: var(--xuduColor);
}

.xuduBg {
    background-color: var(--xuduColor);
}